h1 {
   text-align: center;
   font-size: 2em;
   margin-bottom: 40px;
}

h2 {
   text-align: center;
   font-size: 1.5em;
   margin-bottom: 10px;
}

h3 {
   margin-top: 20px;
   margin-bottom: 10px;
}

p {
   margin-bottom: 10px;
   line-height: 1.3em;
}

.vermelho {
   color: red;
   font-weight: bolder;
}

.verde {
   color: green;
   font-weight: bolder;
}

aside {
   margin-bottom: 50px;
}